# Chave utilizada para acessar a API TheGamesDB
THEGAMESDB_API_KEY=
# Configurações de conexão com o MySQL
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=gamehub

# .env
# -> valores reais
# -> não versionado

# .env.example
# -> contém apenas estrutura/serve como exemplo
# -> versionado